.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  color: #343a40;
  text-align: center;
}

.description {
  font-size: 16px;
  color: #6c757d;
  margin-bottom: 20px;
  text-align: center;
}

.path-input,
.default-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.path-input:focus,
.default-input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

.default-value-container {
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  gap: 10px;
}

.preset-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.preset-button:hover {
  background-color: #0056b3;
}

.result {
  color: black;
  margin-top: 20px;
}

.sample-object {
  color: black;
  margin-top: 20px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: monospace;
  white-space: pre-wrap;
}
